div[data-drop-down=drop-down] {

    display: inline-flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: stretch;

    & [data-white-space=nowrap] {
        white-space: nowrap;
    }

}