.web-controls-html-editor-change-color {
    width: 400px;
    display: flex;
    justify-content: space-evenly;

    & > table {
        display: inline-table; 
    }

    & .color-button {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-width: 1px;
        margin: 1px;
        cursor: pointer;
        border-style: solid;
        border-color: transparent; 
        &:hover {
            border-color: black; 
        }
    }     
}