[data-toolbar-item=separator] {
    background-color: #a9a9a9;
    margin-left: 4px;
    margin-right: 4px;
    display: inline-block;
    margin-top: 4px;
    height: 1rem;
    width: 2px;
    padding: 0;
}