[data-form=form] {
    display: flex;
    flex-direction: column;
    gap: var(--spacing, 5px);

    &[data-valid=true] {
        & .field-error:not(:empty) {
            display: none;
        }
        & > .error-message {
            display: none;
        }
    }

    & > .error-message {
        padding: var(--spacing-small, 2px);
        padding-left: var(--spacing-large, 10px);
        padding-right: var(--spacing-large, 10px);
        background-color: red;
        border-radius: 9999px;
        color: white;
        position: sticky;
        top: 0;
    }
}