[data-html-editor-element=toolbar] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: var(--spacing, 5px);

    & .command {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
}