[data-limited-text] {
    position: relative;
    overflow: hidden;
    contain: content;

    &[data-mode=collapsed] {
        & > [data-element=more] {
            cursor: pointer;
            background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 19%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
            & > button {
                transform: rotate(180deg);
            }
        }
    }

    & > [data-element=more] {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        right: 0;
        left: 0;
        position: absolute;
        transform: translateY(-100%);
        & > button {
            padding: 1px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 9999px;
            border: none;
            outline: none;
            box-shadow: 0 0 6px 6px white;
            transition: transform 0.5s ease-out;
        }
    }

}