[data-resizable=resizable] {
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 2px;
    gap: 1px;
    & > * {
        grid-row: 1;
        grid-column: 1;
    }

    & > [data-element=resizer] {
        cursor: ew-resize;
        grid-row: 1;
        grid-column: 2;
        &[data-resizing] {
            cursor: col-resize;
            background-color: rgba(0,0,0,0.25);
        }
    }

    &[data-direction=vertical] {
        & > [data-element=resizer] {
            cursor: ns-resize;
        }
    }
}