[data-component=type-writer] {
    display: inline-flex;
    align-items: center;
    justify-content: start;
    white-space: nowrap;
    padding-right: 1px;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: currentColor;
}