button-bar {

    display: flex;
    flex-direction: row;
    border: solid 1px var(--button-border, #cccccc85);
    border-radius: 10px;
    overflow: hidden;
    place-self: start;

    & > input.hidden {
        display: none;
    }

    &:has(input:focus) {
        border-color: var(--selection-color, accentColor);
    }

    & > label {

        gap: 5px;
        align-items: center;
        display: flex;
        flex-direction: row;

        padding: 10px;
        padding-top: 2px;
        padding-bottom: 2px;

        &:has(input:checked) {
            background-color: var(--selection-color, highlight);
            color: var(--selection-color, highlighttext);
        }

        & > input[type=radio] {
            opacity: 0;
            width: 2px;
        }

    }
}