:root {
    --accent-color: orangered;
    --accent-text-color: white;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dev-host-local {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 5px;

    & > header {
        grid-row: 1;
    }
    & > div {
        grid-row: 2;
        align-items: stretch;
        justify-self: stretch;
        overflow: auto;

        & [data-item-index]:hover {
            background-color: lightgreen;
        }
    }
}