name: Build

on: 
  push: 
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v3.2.0
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - run: npm install -g typescript
      - run: npm install -D istanbul remap-istanbul @web-atoms/ts-to-systemjs@1.0.7
      - run: npm install
      - run: node ./node_modules/@web-atoms/ts-to-systemjs/index.js
      - run: npm run test
      - run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
